<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="1" verbose="1">
	<test name="Test1" preserve-order="true">
		<parameter name="testname" value="test1"></parameter>
		<parameter name="user" value="user1"></parameter>
		<classes>
			<class name="tests.LoginTest">
				<methods>
					<include name="loginWithBlankField" />
					<include name="loginByAdmin" />
				</methods>
			</class>
			<!-- <class name="tests.Sys_UnitInforTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickSystem" /> -->
			<!-- <include name="editUnitInformationSuccess" /> -->
			<!-- <include name="backunitInformation" /> -->
			<!-- </methods> -->
			<!-- </class> -->
			<!-- <class name="tests.Sys_UserAdminTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickUserAdministration" /> -->
			<!-- <include name="createBlankAll" /> -->
			<!-- <include name="create1RequiredFieldBlank1" /> -->
			<!-- <include name="create1RequiredFieldBlank2" /> -->
			<!-- <include name="create1RequiredFieldBlank3" /> -->
			<!-- <include name="create1RequiredFieldBlank4" /> -->
			<!-- <include name="reEnterPasswordDifferentPassword" /> -->
			<!-- <include name="clickApprovedSuccess" /> -->
			<!-- <include name="checkAccountClickApproved" /> -->
			<!-- <include name="notClickApprovedSuccess" /> -->
			<!-- <include name="checkAccountNotClickApproved" /> -->
			<!-- <include name="editAccountSuccess" /> -->
			<!-- <include name="deleteSuccess" /> -->
			<!-- <include name="deleteFailed" /> -->
			<!-- </methods> -->
			<!-- </class> -->
			<!-- <class name="tests.Sys_UserAuthorTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickAuthorization" /> -->
			<!-- <include name="createBlankAll" /> -->
			<!-- <include name="create1RequiredFieldBlank1" /> -->
			<!-- <include name="create1RequiredFieldBlank2" /> -->
			<!-- <include name="createAuthorizationAll" /> -->
			<!-- <include name="createAuthorizationViewHome" /> -->
			<!-- <include name="editAuthorization" /> -->
			<!-- <include name="deleteAuthorization" /> -->
			<!-- </methods> -->
			<!-- </class> -->
			<!-- <class name="tests.Cat_CustomerTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickCategory" /> -->
			<!-- <include name="clickCustomer" /> -->
			<!-- <include name="createBlankAll" /> -->
			<!-- <include name="create1RequiredFieldBlank1" /> -->
			<!-- <include name="create1RequiredFieldBlank2" /> -->
			<!-- <include name="create1RequiredFieldBlank3" /> -->
			<!-- <include name="createCustomerSuccess" /> -->
			<!-- <include name="checkCustomer" /> -->
			<!-- <include name="editCustomer" /> -->
			<!-- <include name="deleteCustomer" /> -->
			<!-- </methods> -->
			<!-- </class> -->
			<!-- <class name="tests.Cat_CustomerUploadTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickCustomerUpload" /> -->
			<!-- <include name="createCustomerUploadFail1" /> -->
			<!-- <include name="createCustomerUploadFail2" /> -->
			<!-- <include name="createCustomerUploadSuccess" /> -->
			<!-- <include name="deleteFileUploadSuccess" /> -->
			<!-- <include name="notDeleteFileUpload" /> -->
			<!-- </methods> -->
			<!-- </class> -->
			<!-- <class name="tests.Cat_ProductManagementTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickProductManagement" /> -->
			<!-- <include name="addProductFail1" /> -->
			<!-- <include name="addProductFail2" /> -->
			<!-- <include name="addProductFail3" /> -->
			<!-- <include name="addProductFail4" /> -->
			<!-- <include name="priceNotCorrect" /> -->
			<!-- <include name="addProductSuccess" /> -->
			<!-- <include name="productCodeError" /> -->
			<!-- <include name="editProduct" /> -->
			<!-- <include name="deleteProduct" /> -->
			<!-- </methods> -->
			<!-- </class> -->

			<!-- <class name="tests.DK_DangKySuDungTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickCatDangKySuDung" /> -->
			<!-- </methods> -->
			<!-- </class> -->

			<!-- <class name="tests.DK_DangKyDaiSoTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickDangKyDaiSo" /> -->
			<!-- <include name="chooseInvoiceTypeFail" /> -->
			<!-- <include name="chooseInvoiceTypeSuccess" /> -->
			<!-- <include name="editInvoiceType" /> -->
			<!-- <include name="deleteInvoiceType" /> -->
			<!-- <include name="createAnnouncementSuccess" /> -->
			<!-- <include name="editAnnouncement" /> -->
			<!-- <include name="deleteAnnouncement" /> -->
			<!-- <include name="acceptAnnouncementSuccess" /> -->
			<!-- </methods> -->
			<!-- </class> -->

			<!-- <class name="tests.DK_DangKyDaiSoTest"> -->
			<!-- <methods> -->
			<!-- <include name="clickDangKyDaiSo" /> -->
			<!-- <include name="chooseInvoiceTypeFail" /> -->
			<!-- <include name="chooseInvoiceTypeSuccess" /> -->
			<!-- <include name="editInvoiceType" /> -->
			<!-- <include name="deleteInvoiceType" /> -->
			<!-- <include name="createAnnouncementSuccess" /> -->
			<!-- <include name="editAnnouncement" /> -->
			<!-- <include name="deleteAnnouncement" /> -->
			<!-- <include name="acceptAnnouncementSuccess" /> -->
			<!-- </methods> -->
			<!-- </class> -->

			<class name="tests.InvM_InvoiceListTest">
				<methods>
					<include name="clickInvoiceManagement" />
<!-- 					<include name="laphoadonFail1" /> -->
<!-- 					<include name="laphoadonFail2" /> -->
<!-- 					<include name="laphoadonFail3" /> -->
<!-- 					<include name="laphoadonFail4" /> -->
<!--                 	<include name="laphoadonFail5" /> -->
<!-- 					<include name="laphoadon1dongSuccess" /> -->
<!-- 					<include name="laphoadonnhieudongSuccess" /> -->
<!-- 					<include name="laphoadonkhongchiuthue" /> -->
<!-- 					<include name="laphoadonthue0" /> -->
<!-- 					<include name="laphoadonthue5" /> -->
<!-- 					<include name="laphoadonthue10" /> -->
<!-- 					<include name="laphoadoncokhuyenmai" /> -->
<!-- 					<include name="laphoadoncochietkhau" /> -->
<!-- 					<include name="laphoadoncoghichu" /> -->
					<include name="laphdcotatcahinhthuc" />
					<include name="suahoadon" />
				</methods>
			</class>
		</classes>
	</test>
</suite>